.button {
    -fx-background-color: #5f9ea0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #4682b4;
}

.label {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
}

.card {
    -fx-background-color: #32cd32;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}

.sidebar {
    -fx-background-color: #2f4f4f;
    -fx-text-fill: white;
    -fx-padding: 10px;
}
